/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 80px 120px;
  background: var(--brand500);
}

.social-media {
  display: flex;
  gap: 24px;
}

footer > span {
  font-weight: 700;
  color: var(--white);
}
