:root {
  --brand500: #a40e4c;
  --light-orange: #f5d6ba;

  --white: #ffffff;
  --black: #000000;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;

  scroll-behavior: smooth;
}

body {
  background: var(--white);
  color: var(--black);
  width: 100vw;
  height: 100vh;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Quicksand", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}
