.hero-container {
  background-image: url(../assets/champagne.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

header {
  padding: 32px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-container > span {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.header-group {
  display: flex;
  gap: 32px;
}

.header-group > a {
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--white);
}
/* Title */
.hero-description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  row-gap: 32px;
  align-items: center;
  color: var(--white);
}

.hero-description .push-button {
  height: 86px;
  width: 86px;

  background: #a40e4c80;

  border-radius: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-description > h1 {
  text-transform: uppercase;
  text-align: center;
  max-width: 690px;
  font-size: 2.625rem;
}

.hero-description > span {
  max-width: 635px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  opacity: 0.7;
  margin-top: 32px;
}

/* Wines */
.wines-container {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  row-gap: 42px;
  justify-content: space-between;
  padding: 142px 120px;
}

.card {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.card .wine-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-orange);
}

.card .wine-container > img {
  height: 260px;
  object-fit: cover;
}

.card > button {
  border-radius: 4px;
  background: var(--brand500);
  height: 44px;
  color: #fff;
  font-weight: 700;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  padding: 36px 32px;
}

.card .card-content .card-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.card .card-content .card-price {
  margin-top: 12px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--brand500);
}

.card .card-content .card-description {
  margin-top: 18px;
  font-size: 0.875rem;
  font-weight: 700;
}